.form {
  &--search {
    position: relative;
  }

  &__input {
    margin: 0;
    padding: 0;
    border: none;

    &--search {
      width: 100%;
      max-width: 300px;
      min-height: 42px;
      padding-left: 40px;
      @include font-small;
    }

    &::placeholder {
      @include font-small;
      color: $grey;
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 26px;
    height: 26px;
    background-image: url("../../img/icon-search.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0;
    border: none;
    cursor: pointer;

    &--search {
    }
  }
}
