.header {
  background-color: $white;
  box-shadow: 0px 77px 90px 0px rgba(119, 142, 162, 0.2);

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 65px;
    background-color: $white;
  }

  &__menu {
    margin-top: 70px;
  }
}
