.menu {
  width: 100%;
  max-width: 100%;

  &__list {
    display: flex;
    @include list-reset;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__link {
    display: block;
    letter-spacing: 0.5px;
    @include font-small;
    border-bottom: 1px solid transparent;
    transition: color,border 0.3s ease-in-out;

    &:hover {
      color: $tomato;
      transition: color, border 0.3s ease-in-out;
      border-bottom: 1px solid $tomato;
    }
  }
}
