include pug/layout

  block content

    header.header
      .container
        .header__top

          form.form.form--search.header__form(action="#" method="get" id="")
            label.form__label.form__label--search(for="search") Поиск
            input.form__input.form__input--search(type="search" name="search" id="search" value="" maxlength="100" placeholder="Поиск")

          .logo.header__logo
            a.logo__link(href="#" title="Adindex" target="_blank")
              picture
                source(media="(max-width: 767px)" srcset="img/logo-white.png")
                img.logo__img(src="img/logo-red.png" width="365" height="73" alt="Adindex")

          a.user-acc.header__user-acc(href="#") Личный кабинет

          nav.menu.header__menu
            ul.menu__list
              li.menu__item: a.menu__link(href="#" target="_blank") В фокусе
              li.menu__item: a.menu__link(href="#" target="_blank") Рейтинги
              li.menu__item: a.menu__link(href="#" target="_blank") Каталог
              li.menu__item: a.menu__link(href="#" target="_blank") Кейсы
              li.menu__item: a.menu__link(href="#" target="_blank") Клиентские листы
              li.menu__item: a.menu__link(href="#" target="_blank") Видео
              li.menu__item: a.menu__link(href="#" target="_blank") Волна
              li.menu__item: a.menu__link(href="#" target="_blank") Ещё
          button.btn.btn--burger.header__burger
              span

